doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title BitBot
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/style.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='/', style='color: #ffbf3e') BitBot
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              if user
                li.nav-item(class=(pagename === 'dashboard') ? 'active' : '')
                  a.nav-link(href='/payments') Dashboard
                li.nav-item(class=(pagename === 'history') ? 'active' : '')
                  a.nav-link(href='/payments/history') View History
          ul.navbar-nav
            if user
              li.nav-item 
                a.nav-link(href='/users/logout') Logout
            else
              li.nav-item
                a.nav-link(href='/users/register') Register
              li.nav-item
                a.nav-link(href='/users/login') Login

    .container.pt80
      != messages('message', locals)
      if errors
          each error, i in errors
              div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy; 2018
          if user
            | &nbsp; &nbsp; &nbsp; Logged in as: 
            a(href='https://getbootstrap.com/')= user.name

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    if pagename === 'dashboard'
      script(src='/main.js')